<html>
    <head>
        <title></title>
        <% include ../source.ejs%>
        <script src="/public/javascripts/item.js"></script>
    </head>

    <body>
        <%- include('../navbar.ejs', { html : ui });%>
        <section class="page-section mt-5">
            <div class="container" style="">
                <div class="row justify-content-center mb-5">
                    <p style="font-family: 'Helvetica Neue'" >
                        상품 목록
                    </p>
                </div>
                <div><hr></div>
                <div class="row justify-content-center mt-3"  id="itemContainer">

                    <%for(var i=0; i < _data.length; i++) { var url = "https://daangn.com"+ _data[i].url;%>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href=<%= url%> >
                                <img class="rounded" src=<%= _data[i].image_url%> alt=<%= _data[i].image_alt%> style="max-width: 100%; height : auto">
                            </a>
                                <p> <%= _data[i].description%></p>
                                <p><%= _data[i].region%></p>
                                <p><%= _data[i].price%></p>

                        </div>
                    <% } %>
                </div>

                <div class="row justify-content-center">
                    <button class="btn btn-block btn-primary" type="button" id="moreBtn"><i class="fas fa-angle-down"></i>더보기</button>
                </div>

            </div>
        </section>

        <% include ../footer.ejs%>
    </body>
</html>
