<html>
    <head>
        <title>Online Auction :: Board</title>
        <% include ../source.ejs%>
        <script src="/public/javascripts/board.js"></script>

        <style>
            .board-table {
                height: 30px;
                text-align: center;
                table-layout: fixed;
            }
            .board-table-item {
                font-size : 10px;

            }
        </style>
    </head>

    <body>
        <%- include('../navbar.ejs', {html : ui});%>>

        <!-- 게시판 -->
        <section class="page-section">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <p><h5>COMMUNITY</h5></p>
                        <hr class="custom-hr">
                    </div>
                </div>
                <div class = "row">
                    <table class="table table-hover board-table">
                        <thead>
                        <tr class="board-table">
                            <th style="width: 50px">번호</th>

                            <th style="width: 300px">제목</th>

                            <th style="width: 100px">작성자</th>

                            <th style="width: 100px">작성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                            for(var i = 0; i < list.length; i++) {
                                var item = list[i];
                        %>
                            <tr class="board-table board-table-item table_item">
                                <td><%= item.board_no%></td>
                                <td><%= item.subject%></td>
                                <td><%= item.author%></td>
                                <td><%= item.date%></td>
                            </tr>
                        <%
                            }
                        %>

                        </tbody>

                    </table>
                </div>


                <div class="row justify-content-between">

                    <div></div>

                    <nav aria-label="Page navigation example" >
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#!" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <% for(i = 1; i < (total_list/20)+1; i++) { %>
                            <li class="page-item"><a class="page-link" href="/board/boardlist/<%= i%>"><%= i%></a></li>
                            <% } %>

                            <li class="page-item">
                                <a class="page-link" href="#!" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <button class="btn btn-secondary pull-right right float-right" id="btn_write">글쓰기</button>

                </div>
            </div>
        </section>

        <!-- footer section -->
        <% include ../footer.ejs%>
    </body>
</html>

