
<html>
    <head>
        <title>Travel Guide :: ${board_content.board_subject}</title>

        <% include ../source.ejs%>
        <script src="/public/javascripts/board.js"></script>

    </head>
    <body>

    <%- include('../navbar.ejs', { html : ui });%>

    <section class="page-section mt-5">

        <div class="container d-flex flex-column shadow-sm" style="max-width : 720px">

            <!-- Subject -->
            <div class="row">
                <div class="col-lg-10 col-sm-10">
                    <p class="font-weight-bold"><h4><%= board.subject%></h4></p>
                </div>
                <div class="col-lg-2 col-sm-2 pt-4">
                    <% if(board.author == id) { %>
                        <a href="/board/delete/<%= board.board_no%>" class="mx-1" id="deleteBtn"><i class="far fa-trash-alt" style="width:12px; height: 12px; color: #0b2e13"></i></a>
                        <a href="/board/modify/<%= board.board_no%>" class="mx-1" id="modifyBtn"><i class="far fa-edit" style="width:12px; height: 12px; color: #0b2e13"></i></a>
                    <% } %>
                </div>

            </div>
            <div class="row justify-content-between mx-2" style= "font-size : 8pt">
                <div>작성자 : <%= board.author%></div>
                <div></div>
                <div>작성일 : <%= board.date%></div>
            </div>
            <div><hr></div>

            <!-- Content -->
            <p class="ml-3 content-text"><%= board.content%></p>
            <div><hr></div>
            <div class="row ml-2" style="font-size: 12pt;">
                <div class="col" style="font-size: 11px;">댓글</div>
                <div class="col justify-content-end">
                <button id="listBtn" class="btn-sm btn-secondary" style="margin-left : 220px"><span style="font-size: 10px;">목록</span></button>

                </div>
            </div>

            <% for(var i =0; i < comment.length; i++) {%>
                <div><hr></div>
                <div class='row'>
                    <div class='col-sm-2 col-lg-2 text-center' style='font-size : 10pt'><%= comment[i].comment_author%></div>
                    <div class='col-sm-8 col-lg-8 content-text'><%= comment[i].comment_content%></div>
                    <div class='col-sm-2 col-lg-2' style='font-size : 8pt'><%= comment[i].comment_date%></div>
                </div>
            <% } %>


            <div class="row my-3">
                <div class="col-lg- col-sm-10">
                    <textarea class="form-control" id="commentInput" style="height: 100px; resize:none" placeholder="댓글 입력"></textarea>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="btn btn-secondary" type="button" id="commentSubmit"><p style="font-size: 10px">등록</p></button>
                </div>
            </div>

        </div>

    </section>

    <% include ../footer.ejs%>

    </body>
</html>
